body {
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
}

.weather-app {
  background: #ecf2f9;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.current-temperature {
  display: flex;
}

.current-temperature-icon {
  width: 80px;
  height: 80px;
}

.current-temperature-value {
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  margin-top: 4px;
}

.weather-forecast {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-day {
  margin-top: 30px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  margin-bottom: 10px;
}

.weather-forecast-temperature {
  display: flex;
  justify-content: center;
  color: #f65282;
}

.weather-forecast-temperature-highandlow {
  padding: 8px;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: rgba(39, 33, 66, 0.4);
}
